.App {
  /* text-align: center; */
}

.flex {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.grow {
  flex: 1;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.noWrap {
  white-space: nowrap;
}
